{% extends 'base.html' %}

{% block navbar_items %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'legal:list' %}">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'legal:add_superhero' %}">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'legal:login' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'legal:login' %}">Register</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Super Hero Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>
                        <a href="{{ object.pk }}/detail/" class="btn btn-primary">
                            <i class="far fa-eye"></i> View
                        </a>
                        <a href="{% url 'legal:update_superhero' object.pk %}" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="4">No Superheroes yet. Create one!</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
